.archive-posts {
  display: flex;
  flex: wrap row;

  @media screen and (max-width: $small-screen) {
    flex: wrap column;
  }

  .posts {
    width: 66.6666%;
    padding: #{$padding * 2} #{$padding * 2} 0 0;
    @media screen and (max-width: $small-screen) {
      width: 100%;
      padding: #{$padding * 2} 0 0 0;
    }
  }
}

// Applies to all lists in archives and search results

.page-title {
  background: $dxw-turquoise;
  color: $white;
  padding: $padding 0 0;

  .rich-text p a {
    color: $white;
    background: scale-color($dxw-turquoise, $lightness: -20%);
  }
}

.posts {
  article {
    margin: 0 0 #{$padding * 2} 0;

    a {
      color: $link-colour;
    }

    .version {
      font-size: $small-font-size;
      font-family: $font-family-brand-body;
      display: block;
    }

    time {
      margin: 0 $margin 0 0;
    }

    .type, .recommendation, .severity {
      margin: 0 $margin 0 0;
      padding: 1px 5px;
      border-radius: 3px;
      display: inline-block;
    }

    .type {
      color: $white;
      background: $black;
    }
  }
}
