.front-page-title {
  background: $dxw-turquoise;
  color: $white;
  padding: #{$padding * 3} 0;

  .content-block {
    @include gridrow(true);
  }

  h1, .rich-text {
    @include gridcol(4/5);
  }

  a {
    color: $white;
    border-bottom: 2px solid $white;

    &:hover {
      border-bottom: none;
    }
  }
}

.recent-reviews {
  @include gridrow(true);
  padding: #{$padding * 2} 0;

  .plugin-recommendations {
    @include gridcol(1/2);
  }

  .recent-advisories {
    @include gridcol(1/2);
    position: relative;;

    &:before {
      content: "";
      width: 3px;
      display: block;
      height: 100%;
      background: #000;
      position: absolute;
      left: -2px;
      top: 0;
    }
  }
}
