.front-page-title {
  background: $dxw-turquoise;
  color: $white;
  padding: #{$padding * 3} 0;

  h1, .rich-text {
    width: 80%;
  }

  a {
    color: $white;
    border-bottom: 2px solid $white;

    &:hover {
      border-bottom: none;
    }
  }
}

.recent-reviews {
  padding: #{$padding * 2} 0;
  display: flex;
  flex-direction: row;

  .plugin-recommendations {
    width: 50%;
  }

  .recent-advisories {
    width: 50%;
  }
}
