.front-page-title {
  background: $dxw-turquoise;
  color: $white;
  padding: #{$padding * 3} 0;

  h1, .rich-text {
    width: 80%;
    @media screen and (max-width: $small-screen) {
      width: 100%;
    }
  }

  p a {
    color: $white;
    background: scale-color($dxw-turquoise, $lightness: -20%);
  }
}

.recent-reviews {
  padding: #{$padding * 2} 0;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: $small-screen) {
    flex-direction: column;
  }

  .plugin-recommendations {
    width: 50%;
    padding: 0 $padding 0 0;
    @media screen and (max-width: $small-screen) {
      width: 100%;
      padding: 0;
    }
  }

  .recent-advisories {
    width: 50%;
    padding: 0 0 0 $padding;
    @media screen and (max-width: $small-screen) {
      width: 100%;
      margin: $margin 0 0 0;
      padding: 0;
    }
  }
}
