.search-results-posts {
  display: flex;
  flex: wrap row;

  @media screen and (max-width: $small-screen) {
    flex: wrap column;
  }
  .posts {
    width: 66.6666%;
    padding: #{$padding * 2} #{$padding * 2} 0 0;
    @media screen and (max-width: $small-screen) {
      width: 100%;
      padding: #{$padding * 2} 0 0 0;
    }
  }
}
