.single {

  .page-title {
    background: $dxw-purple;
    padding: #{$padding * 2} 0;
    color: $white;

    .row {
      display: flex;
      flex-direction: row;
    }

    .title {
      width: 66.6666%;
    }

    .button {
      margin: $margin 0;
    }

    .recommendation {
      width: 33.3333%;
      .inner {
        background: scale-color($dxw-purple, $lightness: -25%);
        padding: #{$padding / 2}
      }
      a {
        color: $white;
      }
    }
  }

  .findings {
    width: 66.6666%;
    padding-top: #{$padding * 2};
  }

  .meta {
    width: 33.3333%;
    padding-top: #{$padding * 2};
  }

}
