.alert {
  margin-top: $gutter;
  padding: $gutter/2 $gutter/2 $gutter-medium $gutter;
  background: lighten($dxwsec-yellow, 35%);
  border-left: 3px solid $dxwsec-yellow;

  @include grid-media($grid-mobile) {
    margin-top: $gutter-mobile;
    padding: $gutter-mobile/2 $gutter-mobile/2 $gutter $gutter-mobile;
  }
}