label {
  font-family: $header-font-family;
  font-weight: 700;
}

textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  padding: $medium-spacing;
  border: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0;
  color: $base-font-colour;
  font-family: $base-font;
  @include font-size-map($body-font-size);
  font-weight: 400;
  line-height: $base-line-height;

  &:focus {
    outline: 2px solid $highlight;
  }
}