// Paths - use like this : #{$imagePath}
$imagePath: "img";
$fontPath: "font";

// Typography
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('#{$fontPath}/poppins-v23-latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('#{$fontPath}/poppins-v23-latin-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('#{$fontPath}/poppins-v23-latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$system-font-family: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', Sans-Serif;
// Use system-font-family for iOS/ Android devices. Listed are: Apple iOS system font, iOS San Francisco, Apple San Francisco, Android, Windows Phone;
$font-family-sans: 'Poppins', $system-font-family;
$header-font-family: $font-family-sans;
$font-family-serif: 'Poppins', $system-font-family;
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;
$base-font: $font-family-serif;
$base-line-height: 1.6;
$header-line-height: 1.6;
$print-font-size: 18px;

// Base site
$base-font-colour: $black;
$body-background-colour: $lightest;

// Links
$link-colour: $brand-primary;
$link-hover-colour: $brand-secondary;
$link-visited-colour: #4c2c92;

// Buttons
$button: $brand-primary;
$button-inactive: lighten($brand-primary, 50);
$button-hover: darken($button, 15);
$dark-button: darken($brand-secondary, 15);

// Margins and paddings
$gutter: 15px;
$gutter-medium: 12px;
$gutter-mobile: 15px;
$medium-spacing: 10px;
$padding-width: 15px;
