$body-font-size: (null: 20px, $small-screen: 17px);
$h1-font-size: (null: 36px, $small-screen: 30px);
$h2-font-size: (null: 30px, $small-screen: 25px);
$h3-font-size: (null: 24px, $small-screen: 23px);
$h4-font-size: (null: 24px, $small-screen: 17px);
$h5-font-size: (null: 20px, $small-screen: 15px);
$highlight-font-size: (null: 24px, $small-screen: 20px);
$small-font-size: (null: 17px, $small-screen: 15px);

body {
  font-family: $base-font;
  @include font-size-map($body-font-size);
  font-weight: 400;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $base-font-colour;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.7em;
  font-family: $header-font-family;
  line-height: $header-line-height;
  font-weight: 700;
}

h1 {
  @include font-size-map($h1-font-size);
  margin-bottom: $gutter*2;
}

h2 {
  @include font-size-map($h2-font-size);
}

h3 {
  @include font-size-map($h3-font-size);
}

h4 {
  @include font-size-map($h4-font-size);
}

h5, h6 {
  @include font-size-map($h5-font-size);
}

small {
  @include font-size-map($small-font-size);
}

strong {
  font-family: $header-font-family;
  font-weight: 700;
}

ul, ol {
  list-style-position: inside;
  padding-left: $gutter-medium*2;
}

ul {

  li {
    list-style-type: disc;
  }
}

ol {

  li {
    list-style-type: decimal;
  }
}

blockquote {
  position: relative;
  margin: 1.4em 0;
  @include font-size-map($highlight-font-size);

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 17px;
  }

  &:before {
    top: 10px;
    left: 0;
    background: url('#{$imagePath}/icon-quote-dark-top.svg') no-repeat;
  }

  p {
    margin-bottom: 0;
    padding: 0 $gutter*3;
  }
}

cite {
  display: block;
  font-style: normal;
  color: $dark-grey;
  padding-bottom: 3px;
  @extend small;
}

pre, code {
  @include font-size-map($small-font-size);
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
}

pre {
  display: block;
  padding: $gutter;
  background: $black;
  color: $white;

  @include grid-media($grid-mobile) {
    padding: $gutter-mobile;
  }
}

code {
  background: $slight-grey;
}

// Links
a {
  color: $link-colour;
  text-decoration: none;
  border-bottom: 3px solid rgba($link-colour, 0.2);
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    color: $link-hover-colour;
    border-bottom-color: rgba($link-hover-colour, 0.4);
  }

  &.call-to-action {
    font-family: $header-font-family;
    font-weight: 700;
  }
}

button {
  font-family: $header-font-family;
  font-weight: 700;
  color: $link-colour;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    color: $link-hover-colour;
  }
}

h1, h2, h3, h4, h5, h6, nav {
    a {
        border-bottom: 0;
    }
}

hr {
  border: 0;
  border-top: 1px solid $medium-grey;
  margin: $gutter 0 0;

  &.footer {
    border-color: $grey;
  }
}

address {
  font-style: normal;
}

time.published {
  @extend small;
  color: $dark-grey;
}

// Rich Text. Anything spat out by WordPress is/should be wrapped in a .rich-text class
.rich-text {

  a {

    &:not(.button):visited {
      @extend a;
    }

    &.external:visited {
      color: $link-colour;
    }

    &.button
    &.button.external,
    &.button.external:visited {
      color: $lightest;
    }

    &:hover,
    &:focus {
      border-bottom-color: rgba($link-hover-colour, 0.4);
    }
  }

  p {
    margin-bottom: 1em;
  }

  img {

    &.featured {
      width: 100%;
      height: auto;
    }
  }

  ul, ol {
    margin: 1em 0;

    li {
      margin-bottom: 0.35em;
    }
  }
}

// Image squishyness
img {
  max-width: 100%;
  height: auto;
}

.action-button {
  text-align: center;
  margin-top: $gutter*2;
}
