.global-footer {
  background: $dark-grey;
  padding: #{$padding * 2} 0 0;
  color: $white;

  a {
    color: $white;

    &:hover {
      border-bottom: 2px solid $white;
    }
  }

  .global-footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (max-width: $small-screen) {
      flex-direction: column;
    }

    section {
      width: 25%;
      @media screen and (max-width: $medium-screen) {
        width: 50%;
        margin: $margin 0 0;
      }
      @media screen and (max-width: $small-screen) {
        width: 100%;
      }
    }

    .footer-contact {
      span {
        display: block;
      }
      span[itemprop=addressLocality], span[itemprop=postalCode] {
        display: inline-flex;
      }
    }
  }

  .global-footer-certificates {
    display: flex;
    flex-direction: row-reverse;
    padding: #{$padding * 2} 0;
    margin:  #{$padding * 2} 0 0 0;
    border-top: 1px solid $medium-grey;

    @media screen and (max-width: $small-screen) {
      flex-direction: column-reverse;
    }

    .badges {
      width: 33.3333%;
      @media screen and (max-width: $small-screen) {
        width: 100%;
      }
      img {
        max-height: 80px;
        margin-right: #{$margin / 2};

        @media screen and (max-width: $small-screen) {
          //max-height: 80px;
          margin: 0 0 #{$margin / 2};
          display: block;
        }
      }
    }
    p {
      width: 66.6666%;
      font-family: $font-family-sans;
      @media screen and (max-width: $small-screen) {
        width: 100%;
      }
    }

  }

  .global-footer-copyright {
    background: $black;
    padding: #{$padding * 2} 0;
    font-size: $small-font-size;

    .row {
      display: flex;
      flex-direction: row;
      @media screen and (max-width: $small-screen) {
        flex-direction: column;
      }
    }

    .footer-legal {
      width: 80%;
      @media screen and (max-width: $small-screen) {
        width: 100%;
      }
    }

    .footer-social {
      width: 20%;
      @media screen and (max-width: $small-screen) {
        width: 100%;
      }

      ul {
        display: flex;
        flex-direction: row;
        text-align: right;
        @media screen and (max-width: $small-screen) {
          text-align: left;
          margin: $margin 0 0;
        }
      }

      li {
        width: 33.3333%;
      }

      a {
        margin: 0 0 0 $margin/2;
        @media screen and (max-width: $small-screen) {
          margin: 0 $margin/2 0 0;
        }
        &:hover {
          border: none;
        }
      }

      svg {
        width: 48px;
      }
      span {
        @include hide;
      }
    }
  }

}
