// Nav
$nav-link: $white;
$nav-link-hover: $white;
$nav-link-active: $white;

$sub-nav-background: $dxw-turquoise;
$sub-nav-link: $white;
$sub-nav-link-hover: $white;

@media screen and (min-width: $small-screen) {

  .main-navigation {
    float: right;;
    margin: $margin #{$margin * 3} 0 0;

    .nav-menu {
      text-align: left;
      display: block;
    }

    li {
      display: inline-block;
      position: relative;
    }

    li > a {
      color: $nav-link;
      border-bottom: 5px solid transparent;
      margin-right: $margin;
      padding: 0 0 10px 0;
    }

    li > a:hover,
    .active > a {
      color: $nav-link-hover;
      text-decoration: none;
      border-bottom: 5px solid $nav-link;
    }

    li > a:focus {
      color: $sub-nav-link;
    }

    li > a.open {
      position: relative;
      z-index: 1;
    }

    .sub-nav {
      display: none;
      position: absolute;
      top: 48px;
      left: 0px;
      background: $sub-nav-background;
    }

    .sub-nav a {
      background: $sub-nav-background;
      display: block;
      min-width: 200px;
      color: $sub-nav-link;

      &:hover {
        color: $sub-nav-link-hover;
      }
    }

    .sub-nav.open {
      display: block;
    }

    .sub-nav li {
      display: block;
    }
  }
}

@media screen and (max-width: $small-screen) {

  .main-navigation {
    clear: both;
    text-align: left;
    padding: 15px 0 0 0;
    @include hide;

    &.open {
      @include show;
    }

    .active a {
      background: transparent;
      color: $nav-link;
      display: inline-block;
    }

    li {
      display: inline-block;;
      width: auto;

      > a {
        float: left;
        display: inline-block;
        padding: 0;
        margin: 0 $margin/2 0 0;
        color: $nav-link;
        background: transparent;

        &:hover {
          color: $sub-nav-link-hover;
          text-decoration: underline;
        }
      }
    }

    .has-sub-nav {
      display: block;
      position: static;
    }

    .sub-nav {
      width: auto;
      position: static;
      display: block;
      visibility: visible;
      background: transparent;
      padding: 0 0 0 10px;
      clear: both;
      font-size: $small-font-size;

      li {
        display: inline-block;
        width: auto;
      }

      a {
        min-width: auto;
        float: left;
        display: inline-block;
        padding: 0;
        margin: 0 $margin/2 0 0;
      }
    }
  }
}

// Nav Toggle

.main-nav-toggle {
  @include ghostbutton($white, small);
  @include hide;
  font-size: $small-font-size;

  &:visited {
    @include ghostbutton($white, small);
  }

  @media screen and (max-width: $small-screen) {
    position: absolute;
    left: 60px;
    top: 40px;
  }
}
