html, body, ul, ol, dl, dt, dd, p, blockquote, figure, figcaption, table, tr, td,
article, aside, details, figcaption, figure, footer, header, nav, section, summary, details,
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

article, aside, details, figcaption, figure, footer, header, nav, section {
	display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// This is ugly and not an efficent way of doing box-sizing and needs changing
* {
  -moz-box-sizing:border-box;
  -webkit-boxizing:border-box;
  box-sizing:border-box;
}

.group:before,
.group:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}

.group:after,
.row:after {
    clear: both;
}

// For IE 6/7 only Include this rule to trigger hasLayout and contain floats.
.group, .row {
    *zoom: 1;
}
