aside {
  p, ul, ol, dl, blockquote {
    a {
      color: $link-colour;
      text-decoration: none;
      border-bottom: 1px solid $link-colour;
    }
  }
}

.get-a-quote {
  width: 33.3333%;
  padding: #{$padding * 2} 0 0 #{$padding * 2};
  @media screen and (max-width: $small-screen) {
    width: 100%;
    padding: 0;
  }

  .button {
    margin: $margin 0;
  }
}
