// Site

html {
  font-size: 62.5%; // Creates a baseline of 1em/rem = 10px;
  background: $body-background;
}

body {
  // background: url("../images/baseline.png");
  font-family: $base-sans;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-font-colour;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
  @include row;
}

.grid-row {
  @include gridrow(true);
}

a {
  text-decoration: none;
}

.main {
  background: $white;
}

.visually-hidden {
  @include hide;
}
