// Typography

// Headings

h1, h2, h3, h4, h5, h6 {
  line-height: $heading-line-height;
  font-family: $font-family-brand-headings, $system-font-family-sans;
  margin-bottom: $margin;
}

h1 {
  font-size: #{$base-font-size * 2};
}

h2 {
  font-size: #{$base-font-size + 6px};
}

h3 {
  font-size: #{$base-font-size + 6px};
}

h4 {
  font-size: $base-font-size;
}

h5 {
  font-size: $base-font-size;
}

h6 {
  font-size: $base-font-size;
}

.rich-text {

  p {
    font-size: $base-font-size;
    margin: 0 0 $margin 0;
    max-width: $text-measure;
    -webkit-font-variant-ligatures: discretionary-ligatures;
  }

  ul {
    margin: 0 0 $margin 0;
    max-width: $text-measure;
    li {
      list-style-type: disc;
      ul {
        margin: 0 0 0 $margin
        li {
          list-style-type: circle;
        }
      }
    }
  }

  ol {
    margin: 0 0 $margin 0;
    max-width: $text-measure;
    li {
      list-style-type: decimal;
      margin: 0 0 #{$margin / 2 };
      ol {
        margin: 0 0 0 $margin;
        li {
          list-style-type: lower-latin;
        }
      }
    }
  }

  dl {
    margin: 0 0 $margin 0;
    max-width: $text-measure;
    dt {
      font-family: $font-family-brand-headings, $system-font-family-sans;
    }
    dd {
      margin: 0 0 #{$margin / 2 };
    }
  }

  blockquote {
    padding: 0 0 0 #{$padding * 2};
    margin: 0 0 $margin 0;
    max-width: $text-measure;
    border-left: 4px solid scale-color($base-font-colour, $lightness: 50%);

    cite:before {
      content: "\2014\00a0";
    }

    cite {
      font-family: $font-family-serif;
    }
  }

  p, ul, ol, dl, blockquote {
    a {
      color: $black;
      background: scale-color($link-colour, $lightness: 60%);
      text-decoration: none;
      padding: 0 2px;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: transparent;
      }
    }
  }

  table {
    width: $text-measure;
    margin: $margin 0;
    @media screen and (max-width: $small-screen) {
      width: 100%;
    }
  }

  pre {
    white-space: pre-wrap;
    padding: $padding;
    color: $light-grey;
    background: $black;
    font-size: $small-font-size;
  }

}
