// dxw palette
$dxw-light-green: #3bc492;
$dxw-green: #006874;
$dxw-orange: #ff8d6b;
$dxw-yellow: #ffb259;
$dxw-red: #9f1f1f;
$dxw-pink: #b15fa2;
$dxw-purple: #7473c0;
$dxw-turquoise: #00a0b0;
$dxw-blue: #004876; // dark blue
$dxw-light-blue: #009abf;
$dxw-ivory: #f9f8f5;

// dxw security palette
$dxwsec-purple: #69488e;
$dxwsec-turquoise: #09615d;
$dxwsec-red: #cc0000;
$dxwsec-yellow: #fab614;
$dxwsec-orange: #f26d04;
$dxwsec-orange-dark: #d34202;
$dxwsec-green: #1d8046;

// greys
$black: #243746;
$placeholder-grey: #505456;
$dark-grey: #4c535a;
$grey: #95989a;
$slight-grey: #e0e0e0;
$medium-grey: #eeeeee;
$light-grey: $dxw-ivory;
$white: #ffffff;

// Social media
$bsky: #1185Fe;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #0077b5;
$google: #dd4b39;
$github: #4078c0;

// Theme colours
$brand-primary: $black;
$brand-secondary: $dxwsec-purple;
$accent-colour: $dxw-orange;

$lightest: $white;
$darkest: $black;

// Errors and notifications
$highlight: $dxwsec-yellow;
$error: $dxwsec-red;
$success: $dxw-green;
$info: $dxw-blue;
$alert: $dxwsec-orange-dark;
