// dxw palette
$dxw-green: #006874;
$dxw-pink: #ffb1b9;
$dxw-purple: #69488e;
$dxw-teal: #80c7bc;
$dxw-blue: #004876;
$dxw-navy: #243746;
$dxw-ivory: #f9f8f5;
$dxw-cream: #f3f1e9;

// Advisories palette
$advisories-purple: $dxw-purple;
$advisories-red: #cc0000;
$advisories-yellow: #fab614;
$advisories-orange-dark: #d34202;
$advisories-green: #1d8046;

// greys
$black: $dxw-navy;
$dark-grey: #4c535a;
$grey: #95989a;
$medium-grey: $dxw-cream;
$light-grey: $dxw-ivory;
$white: #ffffff;

// Social media
$bsky: #1185Fe;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #0077b5;
$google: #dd4b39;
$github: #1a7f37;

// Theme colours
$brand-primary: $black;
$brand-secondary: $dxw-purple;
$accent-primary: $dxw-teal;
$accent-secondary: $dxw-pink;

$lightest: $white;
$darkest: $black;

// Errors and notifications
$highlight: $advisories-yellow;
$error: $advisories-red;
$success: $dxw-green;
$info: $dxw-blue;
$alert: $advisories-orange-dark;
