.lt-ie9 {
  .global-footer {
    .menu {
      .menu-item {
        a {
          color: $lightest;
        }
      }
    }
    .footer-contact {
      a {
        color: $lightest;
      }
    }
    .global-footer-copyright {
      .footer-social {
        a.dxw-logo {
          width: 120px;
          height: 58px;
          background: url('#{$imagePath}/dxw-advisories-logo-white.png') no-repeat center center;

          img {
            display: none;
            visibility: hidden;
          }
        }

        li {
          a {
            background-repeat: no-repeat;
            background-position: center center;

            &.twitter {
              background-image: url('#{$imagePath}/icon-twitter.png');
            }

            &.facebook {
              background-image: url('#{$imagePath}/icon-facebook.png');
            }

            &.linkedin {
              background-image: url('#{$imagePath}/icon-linkedin.png');
            }

            &.github {
              background-image: url('#{$imagePath}/icon-github.png');
            }
          }
        }
      }
    }
  }

  .global-header {
    .logo {
      h1 {
        background: url('#{$imagePath}/dxw-advisories-logo.png') no-repeat 0 0;
      }
    }
  }

  table.features-table {
    border-bottom: 1px solid #eee;
    span.feature-included {
      background: url('#{$imagePath}/icon-check.png') no-repeat center center;
    }
  }

  .homepage-panel {
    background-image: url('#{$imagePath}/background-lock.png');
    background-size: auto;
  }

  .search-form-container .form-field input[type="search"] {
    height: 48px;
  }

  .homepage-services {

    .services {
      display: inline-block;
      width: 100%;
    }

    .service {
      display: inline-block;
      float: left;
      background-color: $lightest;
      padding: $gutter;

      a {
        color: $brand-primary;

        h3 {
          color: $brand-primary;
        }
      }

      &:hover,
      &:focus {
        background: $brand-primary;
        color: $lightest;

        h3, p {
          color: $lightest;
        }
      }
    }
  }

  .short-review p {

    &.unsafe,
    &.high {

      &:before {
        background-image: url('#{$imagePath}/icon-warning-small.png');
      }
    }

    &.caution,
    &.medium {

      &:before {
        background-image: url('#{$imagePath}/icon-exclamation-small.png');
      }
    }

    &.good,
    &.low {

      &:before {
        background-image: url('#{$imagePath}/icon-check-small.png');
      }
    }
  }

  .single .criteria-list li {
    background-image: url(#{$imagePath}/icon-cross.png);
  }

  .inspection-introduction p.state {

    &.identified {

      &:before {
        background-image: url('#{$imagePath}/icon-warning-small.png');
      }
    }

    &.reported {

      &:before {
        background-image: url('#{$imagePath}/icon-exclamation-small.png');
      }
    }

    &.fixed {

      &:before {
        background-image: url('#{$imagePath}/icon-check-small.png');
      }
    }
  }

  .recommendations article h3 {

    &.red {

      &:before {
        background-image: url('#{$imagePath}/icon-warning.png');
      }
    }

    &.orange {

      &:before {
        background-image: url('#{$imagePath}/icon-exclamation.png');
      }
    }

    &.green {

      &:before {
        background-image: url('#{$imagePath}/icon-check.png');
      }
    }
  }
}
