ul.feed-archive {
  padding-left: 0;

  li {
    list-style: none;
    margin-bottom: $gutter-medium*2;
    padding-bottom: $gutter-medium*2;
    border-bottom: 1px solid $medium-grey;

    @include grid-media($grid-mobile) {
      margin-bottom: $gutter-medium;
      padding-bottom: $gutter-medium;
    }

    a {
      border-bottom: none;
      font-family: $header-font-family;
    }
  }
}