.feed-container {

  article {
    margin-bottom: $gutter-medium*2;
    padding-bottom: $gutter-medium*2;
    border-bottom: 1px solid $medium-grey;

    @include grid-media($grid-mobile) {
      margin-bottom: $gutter-medium;
      padding-bottom: $gutter-medium;
    }
  }
}

.archive {
    .search-form-container {
        background-color: $accent-primary;
        label {
            color: $black;
        }
        .form-field {
            button {
                @include button-background($brand-primary, $lightest);
                box-shadow: none;
            }
        }
    }

    .feed-container {
        @include grid-column(8);

        @include grid-media($grid-mobile) {
          @include grid-column(2);
        }
    }

    .sidebar {
        @include grid-column(4);

        @include grid-media($grid-mobile) {
          @include grid-column(2);
        }
    }
}
