.page-banner {
  background: $accent-secondary;
  color: $darkest;
  text-align: center;
  .row {
    padding-left: $gutter;
    padding-right: $gutter;
  }

  .button {
    @include button-light($brand-primary, $lightest);
    margin-top: $gutter*2;

    @include grid-media($grid-mobile) {
      margin-top: $gutter-mobile*2;
    }
  }
}
