.page-banner {
  background: $accent-secondary;
  color: $darkest;
  text-align: center;
  .columns {
    padding-bottom: 5px; //otherwise we can't see the shadow around button
  }

  .button {
    @include button-light($brand-primary, $lightest);
    margin-top: $gutter*2;

    @include grid-media($grid-mobile) {
      margin-top: $gutter-mobile*2;
    }
  }
}
