.homepage-panel {
  background: $accent-colour url('#{$imagePath}/background-lock.svg') no-repeat 110% 50%;
  background-size: 349px 400px;
  padding-top: $gutter*2;
  padding-bottom: $gutter*2;

  @media screen and (max-width:$medium-screen) {
    background-position: 125% 50%;
    background-size: 270px 309px;
  }

  @media screen and (max-width:$small-screen) {
    padding-top: $gutter-mobile*2;
    padding-bottom: $gutter-mobile*2;
  }

  @media screen and (max-width:$smaller-screen) {
    background-position: bottom right;
    background-size: 50% 50%;
  }

  h1, h2 {
    color: $white;
    @include grid-column(10);
  }

  h2 {
    @extend h3;
    font-family: $base-font;
  }
}