.page-section {
  padding: $gutter*2 0;

  @media screen and (max-width:$small-screen) {
    padding-top: $gutter-mobile*2;
    padding-bottom: $gutter-mobile*2;
  }
}

.page-container {
  @include grid-column(12);
  padding: $gutter*2 0;

  @include grid-media($grid-mobile) {
    padding-top: $gutter-mobile*2;
    padding-bottom: $gutter-mobile*2;
  }

  .page-content {
    width: 80%;

    @include grid-media($grid-mobile) {
      width: 100%;
    }
  }
}
