.pager {
  margin: $gutter*2 auto;

  @media screen and (max-width:$small-screen) {
    width: 100%;
    margin-bottom: 0;
  }

  .pagination {
    margin: auto;
    text-align: center;

    @media screen and (max-width:$small-screen) {
      width: 100%;
    }

    li {
      display: inline-block;
      text-align: center;

      &.current {
        a {
          color: $base-font-colour;
          cursor: default;
          text-decoration: underline;
          text-decoration-thickness: 2px;
        }
      }

      &.arrow {
        &.disabled {
          display: none;
          visibility: hidden;
        }
      }
    }


    .underline {
      text-decoration: underline;
    }

    a {
      text-decoration: none;
      margin-right: 10px;
      border-bottom: 0;
      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
      }
    }
  }

  .previous,
  .next {
    position: relative;

    a {
      margin-right: 0;
      display: block;
    }
  }

  .next {

    a {
      margin-left: $gutter*2;
      padding-right: $gutter*2;

      &:after {
        background: url('#{$imagePath}/icon-chevron-right.svg') no-repeat center right;
        right: 0;
      }
    }
  }

  .previous {

    a {
      margin-right: $gutter*2;
      padding-left: $gutter*2;

      &:before {
        background: url('#{$imagePath}/icon-chevron-left.svg') no-repeat center left;
        left: 0;
      }
    }
  }

  .previous a:before,
  .next a:after {
    content: '';
    display: inline-block;
    width: 19px;
    height: 33px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

}
