.pager {
  margin: $gutter*2 auto;

  @media screen and (max-width:$small-screen) {
    width: 100%;
    margin-bottom: 0;
  }

  .pagination {
    margin: auto;
    text-align: center;

    ul {
      list-style-type: none;
    }

    .page-numbers.current {
      font-weight: 600;
      text-decoration-thickness: 1.5px;
    }

    .page-numbers {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: 30px;
      min-height: 30px;
      padding: 6px 6px;
      margin: 2px;

      li {
        display: inline-block;
        text-align: center;
      }
    }
  }
}
