.pager {
  margin: $gutter*2 auto;

  @media screen and (max-width:$small-screen) {
    width: 100%;
  }

  .pagination {
    margin: auto;
    text-align: center;

    @media screen and (max-width:$small-screen) {
      width: 100%;
    }

    li {
      display: inline-block;
      text-align: center;

      &.current {

        a {
          color: $base-font-colour;
          cursor: default;
        }
      }

      &.arrow {
        &.disabled {
          display: none;
          visibility: hidden;
        }
      }
    }

    a {
      margin-right: 10px;
      border-bottom: 0;
    }
  }

  .previous,
  .next {
    position: relative;

    a {
      margin-right: 0;
      display: block;
    }
  }

  .next {

    a {
      margin-left: $gutter*2;
      padding-right: $gutter*2;

      &:after {
        background: url('#{$imagePath}/icon-chevron-right.svg') no-repeat center right;
        right: 0;
      }
    }
  }

  .previous {

    a {
      margin-right: $gutter*2;
      padding-left: $gutter*2;

      &:before {
        background: url('#{$imagePath}/icon-chevron-left.svg') no-repeat center left;
        left: 0;
      }
    }
  }

  .previous a:before,
  .next a:after {
    content: '';
    display: inline-block;
    width: 19px;
    height: 33px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

}
