.page-header-panel {
  background: $accent-colour;
  
  h1 {
    color: $white;
    @include grid-column(12);
    margin-bottom: $medium-spacing;
    padding-top: $gutter;
    padding-bottom: $gutter;

    @media screen and (max-width:$small-screen) {
      margin-bottom: $medium-spacing/2;
      padding-top: $gutter-mobile;
      padding-bottom: $gutter-mobile;
    }
  }
}