.search-form-container {
  background: $brand-secondary;
  padding-top: $gutter*2;
  padding-bottom: $gutter*2;

  @include grid-media($grid-mobile) {
    padding-top: $gutter-mobile*2;
    padding-bottom: $gutter-mobile*2;
  }

  label {
    @include grid-column(4);
    margin-top: 9px;
    color: $lightest;

    @include grid-media($grid-mobile) {
      @include grid-column(2);
      margin-top: 0;
      margin-bottom: $gutter;
    }
  }

  .form-field {
    @include grid-column(8);

    @include grid-media($grid-mobile) {
      @include grid-column(2);
    }

    input[type="search"] {
      width: 75%;
      float: left;

      @media screen and (max-width:$tiny-screen) {
        width: 70%;
      }
    }

    button {
      width: 25%;
      @include button-light($medium-grey, $brand-secondary);
      padding-left: $gutter;
      padding-right: $gutter;
      float: right;
      box-shadow: none;

      @media screen and (max-width:$small-screen) {
        padding-bottom: 14px;
      }

      @media screen and (max-width:$tiny-screen) {
        width: 30%;
        padding-left: $gutter-mobile;
        padding-right: $gutter-mobile;
      }
    }
  }
}
