.search-form-container {
  background: $accent-primary;
  padding-top: $gutter*2;
  padding-bottom: $gutter*2;

  @include grid-media($grid-mobile) {
    padding-top: $gutter-mobile*2;
    padding-bottom: $gutter-mobile*2;
  }

  label {
    @include grid-column(4);
    margin-top: 9px;
    color: $black;

    @include grid-media($grid-mobile) {
      @include grid-column(2);
      margin-top: 0;
      margin-bottom: $gutter;
    }
  }

  .form-field {
    @include grid-column(12);

    @include grid-media($grid-mobile) {
      @include grid-column(2);
    }

    input[type="search"] {
      width: 75%;
      float: left;

      @media screen and (max-width:$tiny-screen) {
        width: 70%;
      }
      border-radius: 40px 0 0 40px;
      text-indent: 1em;
    }

    button {
      width: 25%;
      @include button-light($brand-primary, $lightest);
      padding-left: $gutter;
      padding-right: $gutter;
      float: right;
      box-shadow: none;
      line-height: 1.5;
      border-radius: 0 40px 40px 0;

      @media screen and (max-width:$small-screen) {
        padding-bottom: 11px;
      }

      @media screen and (max-width:$tiny-screen) {
        width: 30%;
        padding-left: $gutter-mobile;
        padding-right: $gutter-mobile;
      }
    }
  }
}
