.search-form-container {
  background: $brand-secondary;
  padding-top: $gutter*2;
  padding-bottom: $gutter*2;

  @media screen and (max-width:$small-screen) {
    padding-top: $gutter-mobile*2;
    padding-bottom: $gutter-mobile*2;
  }

  label {
    @include grid-column(4);
    margin-top: 9px;
    color: $lightest;
  }

  .form-field {
    @include grid-column(8);

    input[type="search"] {
      width: 75%;
      float: left;
    }

    button {
      width: 25%;
      @include button-light($medium-grey, $brand-secondary);
      padding-left: $gutter*3;
      padding-right: $gutter*3;
      float: right;
    }
  }
}
