.search {
    .search-form-container {
        background-color: $accent-primary;
        label {
            color: $black;
        }
        .form-field {
            button {
                background-color: $brand-primary;
                color: $white;
            }
        }
    }
    .feed-container {
        @include grid-column(12);

        @include grid-media($grid-mobile) {
          @include grid-column(2);
        }
    }
}
