.short-review {

  a {
    display: block;
    border-bottom: none;
    font-family: $header-font-family;
  }

  time.published {
    display: block;
    margin: $medium-spacing/2 0;
  }

  h3 {
    margin-bottom: 0;
  }

  p {
    font-family: $header-font-family;

    &.entry {
      font-family: $font-family-sans;
      &.excerpt {
        margin: $medium-spacing/2 0;
      }
      &:before {
        content: none;
      }
    }

    &:before {
      content: '';
      width: 20px;
      height: 20px;
      float: left;
      margin-top: 4px;
      margin-right: $medium-spacing;

      @include grid-media($grid-mobile) {
        width: 18px;
        height: 18px;
        margin-right: $medium-spacing/2;
      }
    }

    &.unsafe,
    &.high {

      &:before {
        @include icon-warning;
      }
    }

    &.caution,
    &.medium {

      &:before {
        @include icon-exclamation;
      }
    }

    &.good,
    &.low {

      &:before {
        @include icon-check;
      }
    }

    &.score {
      margin-top: $medium-spacing/2;
    }

    span.name {
      color: $base-font-colour;
    }
  }
}
