.pagination {
  clear: both;
  padding: #{$padding * 2} 0;

  .page-numbers {
    background: $link-colour;
    color: $white;
    padding: 5px 15px;

    &:hover {
      background: scale-color($link-colour, $lightness: -25%);
    }
  }

  .current {
    background: $white;
    color: $link-colour;

    &:hover {
      background: $white;
      color: $link-colour;
    }
  }

  .next {}

  .previous {}
}
