.short-review {
  margin-bottom: $margin;

  .short {
    padding: 1px 5px;
    border-radius: 3px;
    display: inline-block;
  }
  a {
    display: block;
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Global classes for colouring the reports
.unsafe, .high, .red {
  background: $warning-red;
  color: #fff;
}

.caution, .medium, .yellow {
  background: $warning-yellow;
  color: $black;
}

.good, .low, .green {
  background: $warning-green;
  color: #fff;
}
