.short-review {
  margin-bottom: $margin;

  .short {
    padding: 1px 5px;
    border-radius: 3px;
    display: inline-block;
  }
  a {
    display: block;
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }

  .unsafe {
    background: $warning-red;
  }

  .caution {
    background: $warning-yellow;
  }

  .good {
    background: $warning-green;
  }
}
