.search-form {
  background: $dxw-purple;
  padding: $padding 0;
  color: $white;

  form {
    width: 66.6666%;
    margin: auto;
    display: flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .block-label {
    // display: block;
    padding-bottom: #{$padding / 2};
    text-align: center;
    width: 100%;
  }

  input[type="search"] {
  //  width: 80%;
    border-color: $white;
    padding: 15px;
    flex-grow: 3;
    @media screen and (max-width: $small-screen) {
      width: 70%;
    }
  }

  .button {
    // width: 20%;
    flex-grow: 1;
    @include button($dxw-blue, $button-text, big);
    padding: 0;
    height: 62px;
    position: relative;
    @media screen and (max-width: $small-screen) {
      width: 30%;
    }

    svg {
      width: 30px;
      margin-right: #{$margin / 2};
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -15px 0 0 -15px;
      display: none;
      @media screen and (max-width: $small-screen) {
        display: block;
      }
    }

    span {
      @media screen and (max-width: $small-screen) {
        display: none;
      }
    }
  }
}

.filter {
  background: $dxw-purple;

  .search-form {
    @include row;


    form {
      margin: 0;
    }

    .block-label {
      // display: block;
      padding: 30px 0 10px;
      text-align: left;
    }
  }
}
