
table {
  width: 100%;
  margin: $margin 0;
  border-collapse: collapse;
  @media screen and (max-width: $small-screen) {
    width: auto;
  }

  caption {
    caption-side: bottom;
    text-align: left;
    color: scale-color($base-font-colour, $lightness: 25%);
  }

  th, td {
    padding: $padding #{$padding * 2};
    @media screen and (max-width: $small-screen) {
      display: block;
      width: 100%;
      padding: #{$padding / 2};
    }
  }

  thead {
    text-align: left;
  }

  th {
    border-bottom: 2px solid $table-borders;
    font-family: $font-family-brand-headings, $system-font-family-sans;
  }

  tbody {
    tr {
      border-top: 2px solid $table-borders;
      border-bottom: 2px solid $table-borders;
    }
  }
}

.summary-table {
  border: 2px solid $table-borders;

  th, td {
    padding: 10px;
    border: 1px solid $table-borders;
  }

  th {
    text-align: left;
  }


}
