// Paths - use like this : #{$fontPath} or #{$imagePath}
$imagePath: "../static/img/";
$fontPath: "../static/fonts/";

// Rem/PX
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// Percentage Function
// Use like this
// div {width: pc(500,1280);}

@function pc($wanted, $parent) {
  @return #{($wanted / $parent) * 100 + '%'};
}

@mixin arrow-up ($size, $colour) {
  content: "";
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;;
  border-bottom: $size solid $colour;
}

@mixin arrow-down ($size, $colour) {
  content: "";
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;;
  border-top: $size solid $colour;
}

@mixin hide {
    position: absolute;
    left: -9999em;
}

@mixin show {
    position: static;
    left: inherit;
}

@mixin button($background, $colour, $size) {
    position: relative;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor: pointer;
    border: 0;
    font-size: $base-font-size;
    text-decoration: none;
    background: $background;
    color: $colour;
    display: inline-block;
    @if $size == big {
        padding: $padding/2;
    } @if $size == small {
        padding: 5px 10px;
    } @else {
        padding: 8px $padding;
    }
}
