name: Advisories headers plugin

on: push

defaults:
  run:
    working-directory: wp-content/plugins/advisories-headers

jobs:
  lint-and-test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        php-versions: ['8.2']
    steps:
      - uses: actions/checkout@v6
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "dir=$(composer config cache-files-dir)" >> "$GITHUB_OUTPUT"
      - uses: actions/cache@v5
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-
      - name: Install dependencies
        run: composer install --no-interaction
      - run: |
          vendor/bin/php-cs-fixer fix --dry-run -v --diff
          vendor/bin/kahlan
          vendor/bin/psalm --find-unused-psalm-suppress
