on:
  - push
  - pull_request

env:
  PLUGIN_NAME: dxw-sec-api

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7

      - uses: shivammathur/setup-php@2.31.1
        with:
          php-version: "8.2"
          coverage: none
          tools: composer

      - name: Install dependencies
        run: |
          cd "wp-content/plugins/$PLUGIN_NAME"
          composer --no-interaction install

      - name: Run tests
        run: |
          cd "wp-content/plugins/$PLUGIN_NAME"
          vendor/bin/kahlan --spec=specs
