on:
  - push
  - pull_request

env:
  THEME_NAME: dxw-security-2017

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4

      - uses: shivammathur/setup-php@2.17.1
        with:
          php-version: "7.4"
          coverage: none
          tools: composer

      - name: Install dependencies
        run: |
          cd "wp-content/themes/$THEME_NAME"
          composer --no-interaction install
          yarn install

      - name: Run linter
        run: |
          cd "wp-content/themes/$THEME_NAME"
          vendor/bin/php-cs-fixer fix --dry-run --verbose --diff

      - name: Run tests
        run: |
          cd "wp-content/themes/$THEME_NAME"
          vendor/bin/peridot spec
